<div style="display: flex;">
  <div style="flex: 0 0 400px; margin-right: 10px;">
    <div [cdkDropListData]="gadgets" #gadgetList="cdkDropList" [cdkDropListConnectedTo]="[tabList]" class="example-list" (cdkDropListDropped)="drop($event)" cdkDropList>
      <app-gadget *ngFor="let gadget of gadgets" [gadget]="gadget" cdkDrag></app-gadget>
    </div>
  </div>
  <div style="flex: 1 1 auto;">
    <mat-drawer-container style="height: 90vh;">
      <mat-drawer mode="side" opened>
        <app-tab [gadget]="home"></app-tab>
        <div [cdkDropListData]="tabs" #tabList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[gadgetList]" cdkDropList>
          <app-tab *ngFor="let tab of tabs" [gadget]="tab" cdkDrag></app-tab>
        </div>
      </mat-drawer>
      <mat-drawer-content>Main content</mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>